.product-card {
  @extend %content-center;
  align-items: center;
  flex-direction: column;

  width: $product-card-width;
  padding: 14px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__img {
    box-sizing: initial;
    width: 160px;
    height: 134px;

    margin: 15px 0 45px;

    transition: transform 400ms;

    cursor: pointer;

    &:hover {
      margin-top: 0;
      margin-bottom: 30px;
      padding: 12px 0;
      border: 3px solid #f3f3f3;
      border-radius: 5px;
      transform: scale(1.2);
    }
  }

  &__product-name {
    @extend %default-font-12px;
    line-height: 15px;

    margin-bottom: 6px;
  }

  &__product-code {
    @extend %default-font-11px;
    align-self: start;

    margin-bottom: 15px;
  }

  &__rating {
    @extend %default-font-11px;
    @extend %content-space-between;

    align-items: center;

    min-width: $card-width-without-paddings;
    margin-bottom: 20px;
  }

  &__price-info {
    @extend %content-space-between;

    align-items: baseline;

    min-width: $card-width-without-paddings;
    margin-bottom: 20px;
  }

  &__link-to-buy {
    @extend %default-font-14px;
    @extend %content-center;

    align-items: center;

    width: $card-width-without-paddings;
    height: 40px;

    text-decoration: none;
    color: $default-white-color;

    background-color: $blue-link-color;

    border: 1px solid $blue-link-color;
    border-radius: 5px;

    transition: color 400ms, background-color 400ms;
    &:hover {
      transition: color 400ms, background-color 400ms;
      color: $blue-link-color;

      background-color: $default-white-color;
    }
  }
}

.price-text {
  @extend %default-font-11px;
}

.price-value {
  @extend %default-font-16px;
}
